*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  transition: 0.5s ease-in-out;
  user-select: none;
}

.align{
  display: flex;
  justify-content: center;
  align-items: center;
}

body{
  background-color: #3D5A80;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  padding-top: 60px;
}

.turn-container{
  width: 170px;
  height: 80px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  position: relative;
}

.turn-container h3{
  margin: 0;
  grid-column-start: 1;
  grid-column-end: 3;
  color: #FFFFFF;
}

.turn-container .turn-box{
  font-size: 25px;
  font-weight: 600;
}

.turn-container .turn-box:nth-child(even){
  border-right: none;
}

.bg{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 85px;
  height: 40px;
  background-color: #98C1D9;
  z-index: -1;
}

.main-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 250px;
  width: 250px;
  margin: 30px auto;
  border: 2px solid #98C1D9;
}

.box{
  cursor: pointer;
  font-size: 35px;
  font-weight: 400;
  border: 2px solid #98C1D9;
}

.box:hover{
  background-color: #E7B4A5;
}

#results{
  color: #28cb77;
  font-weight: 400;
}

#play-again{
  background-color: #FF0054;
  padding: 10px 25px;
  border: none;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  display: none;
  color: #fff;
  margin-top: 19px;
}

#play-again:hover{
  padding: 10px 40px;
  background-color: #98C1D9;
  color: #000;
}


